#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Athenaeum
Icon=athenaeum.png
Exec=
Terminal=false
NoDisplay=false
Categories=Game;PackageManager;
