#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Athenaeum
Icon=com.gitlab.librebob.Athenaeum
Exec=athenaeum
Terminal=false
Categories=Game;PackageManager;
